altair==5.5.0
duckdb==1.2.1
fastapi==0.115.11
fastapi-cli==0.0.7
numpy==2.2.3
pandas==2.2.3
pillow==11.1.0
plotly==6.0.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-multipart==0.0.20
requests==2.32.3
streamlit==1.43.2
urllib3==2.3.0
uvicorn==0.34.0




streamlit-chat==0.1.0
openai==0.28
#typing_extensions==4.11.0

#requests-toolbelt==0.9.1
urllib3==2.3.0
tensorflow
